* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
    /*background-color: lightblue;*/
}
html{
    background-color: dimgray;
}
img{
    border-radius: 15px;
}
/* navstuff */
.mainNav ul {
    display: flex;
    gap: 10px;
    min-width: 250px;
    list-style: none;
    justify-content: center;
    max-width: 1500px;
    align-items: center;
    margin: 0 auto;
    border-bottom: 10px solid black;
    padding: 0 0 10px 0;

}
.mainNav ul li {
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 10px;
    height:50px;
    text-align: center;
    flex: 1 1 0;
    border-radius: 10px;
    list-style: none;
    color: black;
}

.mainNav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.mainNav ul li:hover {
    text-decoration: underline;
}
.mainNav ul li .active {
    /*border-radius: 10px;*/
    box-shadow: 0 0 5px 5px white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    /*background-color: cyan;*/
}
/*.download {*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 5px 5px white;*/
/*    text-shadow:*/
/*            -1px -1px 0 #000,*/
/*            1px -1px 0 #000,*/
/*            -1px 1px 0 #000,*/
/*            1px 1px 0 #000;*/
/*    !*background-color: cyan;*!*/
/*}*/

/* endnavstuff */

/* headSection*/
.homehead{
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid black;
    border-radius: 15px;

}
.logo{
    font-size: 40px;
    min-width:250px;
    height: 200px;
    width:300px;
    background-color: lightslategrey;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.welcometo{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}
.taniti{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    font-style: italic;
    text-decoration: underline;
}

/*endheadSection*/

/*heroSection*/
.homeActivities > div{
    display: flex;
    flex-direction: column;
    flex:1;
}
.homeActivities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    border-bottom: 10px solid black;

}
.title{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-shadow:
            -1px -1px 0 lightslategrey,
            1px -1px 0 lightslategrey,
            -1px 1px 0 lightslategrey,
            1px 1px 0 lightslategrey;



}
.homeActivities img{
    width:100%;
    min-width: 100%;
    height:200px;
    min-height:200px;
    object-fit: cover;
    border-radius: 10px;
}
.actDescript{
    margin-top: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;

}
.activity1 img,.activity2 img ,.activity3 img, .activity4 img{
    width: 100%;
    min-height: 280px;
    object-fit: cover;
    display: block;
    border-radius: 15px;

}
.activity1 img{
    flex:1;
}
.activity2 img{
    flex:2;
}
.activity3 img{
    flex:3;
}
img:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.2);
}
/*endHero*/
